@import "tailwindcss";

@font-face {
  font-family: "Giest";
  src: url(./assets/GeistMono-VariableFont_wght.ttf);
}

@theme {
  --color-primary: #31A6ff; 
  --color-white: #FFFFFF;  
  --color-grey: #555a63;
  --color-grey-2: #1e1e21;
  --color-accent: #98c1d9;    
  --color-light: #e0fbfc;
  --color-warning: #ee6c4d;   
  --color-background: #131416;
}	

body {
  height: 100vh;
  overflow: hidden;
  background: var(--tg-bg-color);
}



/* #tsparticles {
  z-index: 0;
} */

#mainBackground {
  background-color: rgb(255, 255, 255);
}

.giest-mono {
  font-family: "Giest", monospace;
}